<#@ template cleanws="true" #>
#[derive(Debug, PartialEq, Eq, Clone, Copy, FromPrimitive, ToPrimitive)]
#[allow(non_camel_case_types)]
pub enum Permission {
<# for e in &**self { #>
	<# if !e.doc.is_empty() { #>
<#= indent(&doc_comment(&e.doc), 1) #>
	<# } #>
	<#= &e.name #> = <#= e.num #>,
<# } #>
}
